/* Universal Settings */
html {
	font-size: 14px;
	font-family: 'Open Sans';
}

body {
	text-align: center;
}

h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

img {
	width: 100%;
}

h2 {
	text-align: left;
	color: #399bd1;
	font-weight: bold;
}

.image-container img {
	opacity: 0.7;
	transition: opacity 0.5s,
	            transform 0.5s;
}

.image-container img:hover {
	opacity: 1;
	transform: scale(1.3);
}

.image-container {
	overflow: hidden;
}

/* Nav */

.navbar-default .navbar-nav > .active > a {
	background-color: transparent;
	color: #399bd1;
}

.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #399bd1;
}

.navbar-default .navbar-nav a {
	color: red;
	font-size: 1.1rem;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .nav-container img {
  	display: none;
  }
}

/* Jumbotron */

.jumbotron {
    padding-top: 11.85rem;
    padding-bottom: 11.85rem;
}

.jumbotron-bike {
    background-image: url('../images/jumbotron-bike.jpg');
    background-size: cover;
}

.jumbotron-beer {
    background-image: url('../images/jumbotron-beer.jpg');
    background-size: cover;
}

.jumbotron-flowers {
    background-image: url('../images/jumbotron-flowers.jpg');
    background-size: cover;
}

.jumbotron-duffel {
    background-image: url('../images/jumbotron-duffel.jpg');
    background-size: cover;
}

.jumbotron h1 {
	color: white;
	font-size: 7.1rem;
	font-family: 'Monoton', cursive;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p {
	color: white;
	max-width: 51.3rem;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.jumbotron span {
	margin-top: 2.8rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	background-color: #399bd1;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	width: 11.4rem;
}

.jumbotron span:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.jumbotron span:active {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/* Featured Project */

.featured-project .row .description,
.featured-project .row .product-categories {
	text-align: left;
}

.featured-project .row .product-categories h4 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #399bd1;
}

/* Projects */
.projects {
	padding-bottom: 5.85rem;
}

.projects .row .projects-item {
	text-align: left;
}

/* Footer */
footer {
	background-color: #f3f3f3;
	padding-top: 5.2rem;
	padding-bottom: 5.2rem;
}

footer h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1.4rem;
}

footer p {
	max-width: 42rem;
    margin-right: auto;
	margin-left: auto;
}

.footer span {
	margin-top: 2.8rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	background-color: #399bd1;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	width: 11.4rem;
}

.footer span:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.footer span:active {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}